body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 50px;
}

#locationForm {
    margin-bottom: 20px;
}

#locationInput {
    padding: 10px;
    font-size: 16px;
}

#results div {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
